__pycache__/
*.py[cod]
.venv/
.env
.env.*
build/
dist/
*.pdf
!paper/main.pdf
!reports/en/main.pdf
!reports/zh/main.pdf
!reports/en_full/main.pdf
!reports/zh_full/main.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.toc
*.synctex.gz
private/
/message/
